* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color : grey;
}

.wrapper {
  width: 73%;
  height: 96vh;
  display: flex;
  margin: 15px auto;
}

.body-header-top {
  background-color: #4b9c97;
  height: 13vh;
  z-index: -1;
  position: absolute;
  width: 100%;
  top: 0;
}
.body-header-bottom {
  background-color: #dccbcb;
  height: 87vh;
  z-index: -1;
  position: absolute;
  width: 100%;
  top: 13%;
}
.main-nav {
 display: flex;
 flex-direction: column;
 width: 30%;
 height: 100%;
 background-color: #000000;
}


.main-nav-header {
  width: 100%;
  height: 10%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.omini{
  height: 50px;
  width: 50px;
  border-radius: 20px;
  margin-left: 10px;
}
.fas  {
  color : grey;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 15px;
}
.notifiche {
  width: 100%;
  height: 86px;
  background-color: lightblue;
  display: flex;
  align-items: center;
}

.mess {
  display: flex;
  flex-direction: column;
}

.sfondo-campana {
  height: 40px;
  border-radius: 34px;
  background: white;
  margin: 13px;
  display: flex;
  align-items: center;
}
.stile_campana {
  font-size: 17px;
}
.cerca {
  width: 100%;
  height: 50px;
  background-color: grey;
}
.lista-utenti {
  width: 100%;
  height: 100%;
  background-color: white;
}
.main-nav-main {
  width: 100%;
  height: 70px;
  background-color: grey;
}


.main-content {
  width: 70%;
}
.main-content-header {
  width: 100%;
  height:8%;
  background-color: yellow;
}
.main-content-main {
  height:82%;
  display: flex;
  overflow-y: scroll;
  background: #e0e0e0;
}
.colonna-sinistra{
  width: 50%;
}

.colonna-destra{
  width: 50%;
}


.main-content-footer {
  width: 100%;
  height: 10%;
  background-color:  #e0e0e0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.smile {
  font-size: 20px;
  color: black;
}
.microfono {
  font-size: 20px;
  color: black;
}
#scrivitesto {
  width: 558px;
  border-radius: 6px;
  height: 42px;
  border-top: white;
  border-left: white;
}

.prova {
  display: none;
}
.elemento-destra{
  float: right;
  display: inline-block;
  background-color: white;
  padding: 20px 40px;
  border-radius: 5px;
  margin: 20px;
}
.elemento-destra:after{
  content: "";
  display: table;
  clear: both;
}
