* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body  */
body {
  color : grey;
}

.wrapper {
  width: 73%;
  height: 96vh;
  display: flex;
  margin: 15px auto;
}

.body-header-top {
  background-color: #4b9c97;
  height: 13vh;
  z-index: -1;
  position: absolute;
  width: 100%;
  top: 0;
}
.body-header-bottom {
  background-color: #dccbcb;
  height: 87vh;
  z-index: -1;
  position: absolute;
  width: 100%;
  top: 13%;
}

/* /body */

.main-nav {
 display: flex;
 flex-direction: column;
 width: 30%;
 height: 100%;
 border-right: 1px #d0d0d0 solid;
}

/* main nav header  */
.main-nav-header {
  width: 100%;
  height: 10%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.omini{
  height: 50px;
  width: 50px;
  border-radius: 20px;
  margin-left: 10px;
}
.fas  {
  color : grey;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 15px;
}

/* /main nav header  */


/* notifiche */
.notifiche {
  width: 100%;
  height: 86px;
  background-color: lightblue;
  display: flex;
  align-items: center;
}

.mess {
  display: flex;
  flex-direction: column;
}
.mess p {
  color: black;
  font-size: 14px;
}

.sfondo-campana {
  height: 40px;
  border-radius: 34px;
  background: white;
  margin: 13px;
  display: flex;
  align-items: center;
}
/* /notifiche  */

/* cerca  */
.cerca {
  width: 100%;
  height: 50px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrapper-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: 80%;
  margin: auto;
  background: #f1efef;
}
.cerca input {
  border: 0;
  width: 80%;
  height: 100%;
}
.cerca-chat {
  background:  #f1efef;
}

/* /Cerca */

/* lista utenti  */
.lista-utenti {
  width: 100%;
  height: 100%;
  background-color:#e0e0e0;
  overflow-y: scroll;
}

.lista-contatti {
  list-style: none;
  padding: 5px;
}

.elemento-contatto {
  display: flex;
  padding: 10px;
  border: 1px #d0d0d0 solid;
}

.elemento-contatto.active,
.elemento-contatto:hover,
.elemento-contatto:active,
.elemento-contatto:focus {
    background-color: lightgrey;
    cursor: pointer;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: lightblue;
}

.avatar img {
  width: 100%;
}

.info {
  width: 90%;
  margin-left: 10px;
}

.persona{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nomi {
  color: black;
}
/* /lista utenti  */



/* main content  */
.main-content {
  width: 70%;
}
.main-content-header {
  width: 100%;
  height:8%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px #d0d0d0 solid;
  border-bottom: 1px #d0d0d0 solid;
}

.dati {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.dati p {
  margin-left: 15px;
  color: black;
}
/* /main content */


/* main content footer  */
.main-content-footer {
  width: 100%;
  height: 7.5%;
  background-color:  #e0e0e0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px  #d0d0d0 solid;
}
.smile {
  font-size: 20px;
  color: black;
}


.send-message {
  width: 80%;
  border-radius: 6px;
  height: 42px;
  border-top: white;
  border-left: white;
}
/* /main content footer  */

.col-right-messages {
  display: none;
  height: calc(100% - 140px);
  padding: 40px;
  background-color: #f5d6a8;
  overflow-y: scroll;
}
.col-right-messages.active {
  display: block;
}

.message {
  min-width: 30%;
  max-width: 60%;
  padding: 5px;
  margin: 10px;

  border-radius: 5px;
}
.message-top {
  display: flex;
  justify-content: space-between;
}
.message-bottom {
  text-align: right;
}
.message.sent {
  float: right;
  clear: both;
  background-color: green;
}
.message-text{
  color: black;
}
.message.received {
  float: left;
  clear: both;
  background: white;
}

.active_name {
  display: block;
}
.active_name_off {
  display: none!important;
}

.ricevuto {
  float: left;
  clear: both;
  background-color: white;
}
.dropdown {
  position: absolute;
  top: 80px;
  right: -55px;
  width: 300px;
  padding: 20px;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  background: white;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}

.dropdown.active {
  display: flex;
}
